<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/home">MyApp</a>

    <!-- Mobile toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- LEFT SIDE -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown" *ngIf="categories?.length">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="shopDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Shop
          </a>

          <div
            class="dropdown-menu mega-menu p-4"
            aria-labelledby="shopDropdown"
          >
            <div class="row">
              <ng-container *ngFor="let category of categories">
                <div class="col-md-3">
                  <h6 class="mega-category">
                    <a
                      [routerLink]="['/products']"
                      [queryParams]="{ categoryId: category.id }"
                    >
                      {{ category.name }}
                    </a>
                  </h6>

                  <!-- Render children recursively -->
                  <ng-container
                    *ngTemplateOutlet="
                      renderChildren;
                      context: { $implicit: category.children }
                    "
                  ></ng-container>
                </div>
              </ng-container>
            </div>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-center fw-bold" routerLink="/products">
              View All Products
            </a>
          </div>
        </li>

        <!-- Orders -->
        <li *ngIf="isCustomerLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/orders">Orders</a>
        </li>
      </ul>

      <!-- Recursive template -->
      <ng-template #renderChildren let-children>
        <ng-container *ngFor="let child of children">
          <div class="mega-subgroup">
            <strong>
              <a
                [routerLink]="['/products']"
                [queryParams]="{ categoryId: child.id }"
              >
                {{ child.name }}
              </a>
            </strong>

            <ul class="list-unstyled">
              <li *ngFor="let sub of child.children">
                <a
                  [routerLink]="['/products']"
                  [queryParams]="{ categoryId: sub.id }"
                >
                  {{ sub.name }}
                </a>

                <!-- 👇 Split into two containers -->
                <ng-container *ngIf="sub.children?.length">
                  <ng-container
                    *ngTemplateOutlet="
                      renderChildren;
                      context: { $implicit: sub.children }
                    "
                  ></ng-container>
                </ng-container>
              </li>
            </ul>
          </div>
        </ng-container>
      </ng-template>

      <!-- RIGHT SIDE -->
      <ul class="navbar-nav ms-auto align-items-center">
        <!-- User Email -->
        <li
          *ngIf="userEmail"
          class="nav-item nav-link disabled text-light me-3"
          style="cursor: default"
          title="Logged in user email"
        >
          Logged in as: {{ userEmail }}
        </li>

        <!-- Basket -->
        <li class="nav-item me-3">
          <a class="nav-link position-relative text-white" routerLink="/basket">
            <i class="bi bi-cart" style="font-size: 1.2rem"></i>
            <span
              *ngIf="basketItemCount > 0"
              class="position-absolute badge rounded-pill bg-danger"
              style="top: -0.25rem; right: -0.5rem; font-size: 0.7rem"
            >
              {{ basketItemCount }}
            </span>
          </a>
        </li>

        <!-- Auth Links -->
        <li *ngIf="userEmail" class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
        <ng-container *ngIf="!userEmail">
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>

<!-- Recursive Template -->
<ng-template #renderTree let-node>
  <h6 class="mega-category">
    <a
      class="text-dark text-decoration-none fw-bold"
      [routerLink]="['/products']"
      [queryParams]="{ categoryId: node.id }"
    >
      {{ node.name }}
    </a>
  </h6>

  <!-- Render children if exist -->
  <ul class="list-unstyled ms-3" *ngIf="node.children?.length">
    <li *ngFor="let child of node.children">
      <ng-template
        [ngTemplateOutlet]="renderTree"
        [ngTemplateOutletContext]="{ $implicit: child }"
      ></ng-template>
    </li>
  </ul>
</ng-template>
