<div class="container mt-5" style="max-width: 400px">
  <h2 class="mb-4 text-center">Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="username">Username</label>
      <input
        type="username"
        id="username"
        class="form-control"
        formControlName="username"
        autocomplete="off"
      />
      <div
        *ngIf="
          loginForm.get('username')?.invalid && loginForm.get('username')?.touched
        "
        class="text-danger mt-1"
      >
        <small *ngIf="loginForm.get('username')?.errors?.['required']"
          >Username is required.</small
        >
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
        autocomplete="off"
      />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
        class="text-danger mt-1"
      >
        <small *ngIf="loginForm.get('password')?.errors?.['required']"
          >Password is required</small
        >
        <small *ngIf="loginForm.get('password')?.errors?.['pattern']">
          Password must include an uppercase letter, lowercase letter, number,
          and special character.
        </small>
      </div>
    </div>

    <button
      type="submit"
      [disabled]="loginForm.invalid || isSubmitting"
      class="btn btn-primary w-100"
    >
      Login
    </button>
  </form>
</div>
