<div class="container py-4">
  <h3>Your Basket</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basketItems">
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>${{ item.unitPrice.toFixed(2) }}</td>
        <td>${{ (item.unitPrice * item.quantity).toFixed(2) }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3" class="text-end">Total:</th>
        <th>${{ totalPrice.toFixed(2) }}</th>
      </tr>
    </tfoot>
  </table>
</div>
